/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


/*.table_buttons{*/
/*	position: absolute;*/
/*    top: 16%;*/
/*    left: 4%;*/
/*}*/
/*:root {*/
/*	--direction-arabic: rtl;*/
/*	--direction-english: ltr;*/
/*}*/
/*@media (prefers-reduced-motion: no-preference) {*/
/*	:root {*/
/*		--direction: var(--direction-arabic);*/
/*	}*/
/*}*/

/*!* For English (LTR) *!*/
/*@media (prefers-reduced-motion: no-preference) {*/
/*	:root {*/
/*		--direction: var(--direction-english);*/
/*	}*/
/*}*/

/*!* Apply the direction variable to input fields *!*/
/*input {*/
/*	direction: var(--direction);*/
/*}*/
.all-buttons{
	display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

/* The container */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 50%;
    height: 25px;
    width: 25px;
    background-color: #d9d5d5;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    right: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* The container */
.container-radio {
    display: block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.container-radio .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
 	top: 9px;
	right: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.loader{
	position: fixed;
    z-index: 100000;
    width: 100%;
	background: rgba(16, 22, 58);
    height: 100%;
    display: flex;
	top: 0px;
	right: 0px;
    justify-content: center;
    align-items: center;
}


.imagesUploadBlock {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 20px 0;
}

.uploadImg {
	display: inline-block;
	width: 140px;
	height: 140px;
	line-height: 110px;
	text-align: center;
	position: relative;
	border-radius: 15px;
	margin: 5px;
	border: 3px dotted #e4e4e4;
}

.uploadImg:before {
	content: '';
	position: absolute;
	width: 140px;
	height: 140px;
	border-radius: 15px;
	right: 0;
}

.uploadImg span {
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	z-index: 9;
	top: 50%;
	transform: translateY(-50%);
	font-size: 22px;
}

.uploadImg span i {
	color: #e4e4e4
}

.uploadImg i {
	font-size: 20px;
	color: #e4e4e4;
}

.uploadImg input {
	position: absolute;
	opacity: 0;
	z-index: -1;
	display: none
}

.uploadedBlock {
	bottom: 0;
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	top: 0;
	z-index: 9;
}

.uploadedBlock img {
	/*width: 100%;*/
	/*height: 100%;*/
	margin: 0;
	/*border-radius: 15px;*/
}

.uploadedBlock .close {
	position: absolute;
	top: 0;
	color: #fff;
	background: rgba(255, 255, 255, 0.33) !important;
	font-size: 18px;
	border-radius: 15px;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 1;
	left: 0;
	right: 0;
	margin: auto;
}

.uploadedBlock .close i {
	color: #292929;
	font-size: 24px;
}

.imgMontg {
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 25px;
}

label{
	margin-bottom: 10px;
}
/*.table_buttons{*/
/*	position: absolute !important;*/
/*	bottom: 0 !important;*/
/*	top: -10% !important;*/
/*	left: 0!important;*/
/*	margin-bottom: 25px !important;*/
/*}*/

/*#data-list-view{*/
/*	position: relative !important;*/
/*	!*margin-top: 5% !important;*!*/
/*}*/

/*  edit style */
.hasDatepicker {
	border: 1px solid #D9D9D9 !important;
		border-radius: 10px;
		overflow: hidden;
}

.data-list-view-header .table-responsive .top .dataTables_filter label::after {
	left: 15px;
}

body.dark-layout .dataTables_wrapper .dt-buttons .btn-secondary {
	background-color:#565966 !important;
}

.bookmark-wrapper a, .bookmark-wrapper span {
	margin-left: 10px !important;
}

.navbar-header .nav-item {
	margin: 0 auto;
}

.navbar-header .navbar-brand {
	display: block;
	/*width: 165px;*/
	height: 70px;
	margin: 0 auto;
}
.navbar-header .navbar-brand .brand-logo {
	/* width: 165px !important;
	height: 75px !important; */
	object-fit: cover;
	background: transparent;
}
.main-menu .navbar-header .navbar-brand .brand-logo {
	background: none;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 999999;
}
.align-center {
	align-items: center;
}
.align-center .card-body {
	min-height: 200px;
}
.hight-card .card {
	min-height: 575px;
}
.navigation {
	padding-top: 40px !important;
}

.btn-group .btn :hover {
	box-shadow: 0;
}

.btn-group .btn {
	margin-left: 15px;
	border-radius: 6px !important;
	transition: .3s;
}
.btn.btn-secondary:hover {
	box-shadow: 0 0 6px #c8cdd1;
}

.no-data{
	display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 50px;
}
.no-data span {
	font-family: cairo;
	margin-top: 3px;
}


/* .notify-header{
	display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    background: #131a44;
	border-radius: 5px ;
}

.notify-select-all{
	display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
} */

.notify-select-all span{
	margin: 0px 12px 0px 0px;
}

.notify-icons i {
	font-size: 20px;
}

/* add front-end css*/

@media (max-width: 425px) {
	.content-wrapper .content-body {
		padding-top: 30px;
	}
}

.weatherWidgetInner {
	margin-bottom: 30px;
}

/* add overflow-auto to section table*/

.table_content_append .position-relative {
	overflow: auto;
}

@media (max-width: 1024px) {
	.table_content_append .btn {
		white-space: nowrap;
		/*width: 100%;*/
		margin: 2px 0;
	}
}

.table_content_append .position-relative .table thead tr th, .table_content_append .position-relative .table tbody tr td {
	white-space: nowrap;
}

/*loader css*/

.sk-chase {
	width: 40px;
	height: 40px;
	position: relative;
	animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
	content: '';
	display: block;
	width: 25%;
	height: 25%;
	background-color: #fff;
	border-radius: 100%;
	animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
	animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
	animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3) {
	animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
	animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
	animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
	animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
	animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
	animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3):before {
	animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
	animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
	animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
	animation-delay: -0.6s;
}

@keyframes sk-chase {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes sk-chase-dot {

	80%,
	100% {
		transform: rotate(360deg);
	}
}

@keyframes sk-chase-dot-before {
	50% {
		transform: scale(0.4);
	}

	100%,
	0% {
		transform: scale(1.0);
	}
}

.dropdown-language {
	position: relative !important;
}
.header-navbar .navbar-container ul.nav li.dropdown .dropdown-menu::before {
	top: -1px;
}
@media (max-width: 767px) {
	.header-navbar .navbar-container .show .dropdown-menu {
		overflow: inherit;
	}
}

select.form-control:not([multiple='multiple']) {
	background-image: none;
}
.table_buttons .waves-effect {
	color: #fff !important;
}

/* edit img appended*/
.uploadedBlock {
	display: flex;
	align-items: center;
	justify-content: center;
}
.uploadedBlock img {
	/*width: 130px !important;*/
	/*height: 130px !important;*/
	/*margin-bottom: 5px;*/
	/*max-width: 70px !important;*/
}

.delete_coupon .btn-outline-success, .delete_coupon .btn-outline-danger {
	display: inline-flex;
	gap: 5px;
	align-items: center;
	flex-direction: row-reverse;
}

@media(max-width: 550px) {
	.breadcrumb-text {
		display: flex;
		gap: 5px;
		flex-direction: column;
	}
	.breadcrumb-text a, .breadcrumb-text span {
		margin: 0 !important;
	}
	.breadcrumb-text .hint-slash {
		display: none;
	}

	.navbar-wrapper .navbar-container {
		padding: 0;
	}

	.resp-wrap-icon {
		display: flex;
		align-items: center;
		gap: 5px;
		padding: 10px 5px;
	}
	.resp-wrap-icon li.dropdown-language > a.nav-link, .resp-wrap-icon li a.dropdown-user-link {
		padding: 0 !important;
	}

	.header-navbar .navbar-container .bookmark-wrapper ul.nav li > a.nav-link {
		margin: 0 !important;
	}
	.navbar-wrapper .navbar-container {
		padding: 0 !important;
	}
	.header-navbar .navbar-container ul.nav li.dropdown .dropdown-menu {
		/*left: 0 !important;*/
		/*right: auto !important;*/
		/*transform: translateX(-60%) !important;*/
		min-width: 90px !important;
		width: 90px !important;
	}
	.dropdown .dropdown-menu .dropdown-item, .dropup .dropdown-menu .dropdown-item, .dropright .dropdown-menu .dropdown-item, .dropleft .dropdown-menu .dropdown-item {
		padding: 0.714rem 7px !important;
	}
}

.parent-input-date::after {
	content: "\f073";
	font-weight: 600;
	color: #535353;
	font-size: 15px;
	position: absolute;
	font-family: 'FontAwesome';
	top: 50%;
	transform: translateY(-50%);
	margin-inline-start: 10px;
}

.custom-input-date {
	padding-inline-start: 30px;
	font-size: 12px;
	background-color: #fff !important;
}
